# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Visual Studio Code Settings
.vscode/settings.json
admin.md

# Datasets
app/home/data/*
!app/home/data/curva.csv

.gitignore

app/base/static/assets/node_modules/.bin/lt
app/base/static/assets/node_modules/.bin/lt.cmd
app/base/static/assets/node_modules/.bin/lt.ps1
app/base/static/assets/node_modules/axios/CHANGELOG.md
app/base/static/assets/node_modules/axios/index.d.ts
app/base/static/assets/node_modules/axios/index.js
app/base/static/assets/node_modules/axios/LICENSE
app/base/static/assets/node_modules/axios/package.json
app/base/static/assets/node_modules/axios/README.md
app/base/static/assets/node_modules/axios/UPGRADE_GUIDE.md
app/base/static/assets/node_modules/axios/lib/axios.js
app/base/static/assets/node_modules/axios/lib/defaults.js
app/base/static/assets/node_modules/axios/lib/utils.js
app/base/static/assets/node_modules/axios/lib/adapters/http.js
app/base/static/assets/node_modules/axios/lib/adapters/README.md
app/base/static/assets/node_modules/axios/lib/adapters/xhr.js
app/base/static/assets/node_modules/axios/lib/cancel/Cancel.js
app/base/static/assets/node_modules/axios/lib/cancel/CancelToken.js
app/base/static/assets/node_modules/axios/lib/cancel/isCancel.js
app/base/static/assets/node_modules/axios/lib/core/Axios.js
app/base/static/assets/node_modules/axios/lib/core/buildFullPath.js
app/base/static/assets/node_modules/axios/lib/core/createError.js
app/base/static/assets/node_modules/axios/lib/core/dispatchRequest.js
app/base/static/assets/node_modules/axios/lib/core/enhanceError.js
app/base/static/assets/node_modules/axios/lib/core/InterceptorManager.js
app/base/static/assets/node_modules/axios/lib/core/mergeConfig.js
app/base/static/assets/node_modules/axios/lib/core/README.md
app/base/static/assets/node_modules/axios/lib/core/settle.js
app/base/static/assets/node_modules/axios/lib/core/transformData.js
app/base/static/assets/node_modules/axios/lib/helpers/bind.js
app/base/static/assets/node_modules/axios/lib/helpers/buildURL.js
app/base/static/assets/node_modules/axios/lib/helpers/combineURLs.js
app/base/static/assets/node_modules/axios/lib/helpers/cookies.js
app/base/static/assets/node_modules/axios/lib/helpers/deprecatedMethod.js
app/base/static/assets/node_modules/axios/lib/helpers/isAbsoluteURL.js
app/base/static/assets/node_modules/axios/lib/helpers/isAxiosError.js
app/base/static/assets/node_modules/axios/lib/helpers/isURLSameOrigin.js
app/base/static/assets/node_modules/axios/lib/helpers/normalizeHeaderName.js
app/base/static/assets/node_modules/axios/lib/helpers/parseHeaders.js
app/base/static/assets/node_modules/axios/lib/helpers/README.md
app/base/static/assets/node_modules/axios/lib/helpers/spread.js
app/base/static/assets/node_modules/chartjs/.editorconfig
app/base/static/assets/node_modules/chartjs/.eslintrc
app/base/static/assets/node_modules/chartjs/.npmignore
app/base/static/assets/node_modules/chartjs/chart.js
app/base/static/assets/node_modules/chartjs/index.html
app/base/static/assets/node_modules/chartjs/LICENSE
app/base/static/assets/node_modules/chartjs/package.json
app/base/static/assets/node_modules/chartjs/README.md
app/base/static/assets/node_modules/choices/CHANGELOG.md
app/base/static/assets/node_modules/choices/choices.js
app/base/static/assets/node_modules/choices/package.json
app/base/static/assets/node_modules/choices/README.md
app/base/static/assets/node_modules/cliui/node_modules/ansi-regex/index.d.ts
app/base/static/assets/node_modules/cliui/node_modules/ansi-regex/index.js
app/base/static/assets/node_modules/cliui/node_modules/ansi-regex/license
app/base/static/assets/node_modules/cliui/node_modules/ansi-regex/package.json
app/base/static/assets/node_modules/cliui/node_modules/ansi-regex/readme.md
app/base/static/assets/node_modules/cliui/node_modules/strip-ansi/index.d.ts
app/base/static/assets/node_modules/cliui/node_modules/strip-ansi/index.js
app/base/static/assets/node_modules/cliui/node_modules/strip-ansi/license
app/base/static/assets/node_modules/cliui/node_modules/strip-ansi/package.json
app/base/static/assets/node_modules/cliui/node_modules/strip-ansi/readme.md
app/base/static/assets/node_modules/colors/colors.js
app/base/static/assets/node_modules/colors/example.html
app/base/static/assets/node_modules/colors/example.js
app/base/static/assets/node_modules/colors/MIT-LICENSE.txt
app/base/static/assets/node_modules/colors/package.json
app/base/static/assets/node_modules/colors/ReadMe.md
app/base/static/assets/node_modules/colors/test.js
app/base/static/assets/node_modules/colors/themes/winston-dark.js
app/base/static/assets/node_modules/colors/themes/winston-light.js
app/base/static/assets/node_modules/datatables.net/License.txt
app/base/static/assets/node_modules/datatables.net/package.json
app/base/static/assets/node_modules/datatables.net/Readme.md
app/base/static/assets/node_modules/datatables.net/js/jquery.dataTables.js
app/base/static/assets/node_modules/datatables.net/js/jquery.dataTables.min.js
app/base/static/assets/node_modules/datatables.net/types/types.d.ts
app/base/static/assets/node_modules/datatables.net-dt/License.txt
app/base/static/assets/node_modules/datatables.net-dt/package.json
app/base/static/assets/node_modules/datatables.net-dt/Readme.md
app/base/static/assets/node_modules/datatables.net-dt/css/jquery.dataTables.css
app/base/static/assets/node_modules/datatables.net-dt/css/jquery.dataTables.min.css
app/base/static/assets/node_modules/datatables.net-dt/images/favicon.ico
app/base/static/assets/node_modules/datatables.net-dt/images/sort_asc_disabled.png
app/base/static/assets/node_modules/datatables.net-dt/images/sort_asc.png
app/base/static/assets/node_modules/datatables.net-dt/images/sort_both.png
app/base/static/assets/node_modules/datatables.net-dt/images/sort_desc_disabled.png
app/base/static/assets/node_modules/datatables.net-dt/images/sort_desc.png
app/base/static/assets/node_modules/datatables.net-dt/js/dataTables.dataTables.js
app/base/static/assets/node_modules/datatables.net-dt/js/dataTables.dataTables.min.js
app/base/static/assets/node_modules/datatables.net-dt/types/dataTables.dataTables.d.ts
app/base/static/assets/node_modules/fullcalendar/LICENSE.txt
app/base/static/assets/node_modules/fullcalendar/locales-all.js
app/base/static/assets/node_modules/fullcalendar/locales-all.min.js
app/base/static/assets/node_modules/fullcalendar/main.css
app/base/static/assets/node_modules/fullcalendar/main.js
app/base/static/assets/node_modules/fullcalendar/main.min.css
app/base/static/assets/node_modules/fullcalendar/main.min.js
app/base/static/assets/node_modules/fullcalendar/package.json
app/base/static/assets/node_modules/fullcalendar/README.md
app/base/static/assets/node_modules/fullcalendar/locales/af.js
app/base/static/assets/node_modules/fullcalendar/locales/ar-dz.js
app/base/static/assets/node_modules/fullcalendar/locales/ar-kw.js
app/base/static/assets/node_modules/fullcalendar/locales/ar-ly.js
app/base/static/assets/node_modules/fullcalendar/locales/ar-ma.js
app/base/static/assets/node_modules/fullcalendar/locales/ar-sa.js
app/base/static/assets/node_modules/fullcalendar/locales/ar-tn.js
app/base/static/assets/node_modules/fullcalendar/locales/ar.js
app/base/static/assets/node_modules/fullcalendar/locales/az.js
app/base/static/assets/node_modules/fullcalendar/locales/bg.js
app/base/static/assets/node_modules/fullcalendar/locales/bn.js
app/base/static/assets/node_modules/fullcalendar/locales/bs.js
app/base/static/assets/node_modules/fullcalendar/locales/ca.js
app/base/static/assets/node_modules/fullcalendar/locales/cs.js
app/base/static/assets/node_modules/fullcalendar/locales/cy.js
app/base/static/assets/node_modules/fullcalendar/locales/da.js
app/base/static/assets/node_modules/fullcalendar/locales/de-at.js
app/base/static/assets/node_modules/fullcalendar/locales/de.js
app/base/static/assets/node_modules/fullcalendar/locales/el.js
app/base/static/assets/node_modules/fullcalendar/locales/en-au.js
app/base/static/assets/node_modules/fullcalendar/locales/en-gb.js
app/base/static/assets/node_modules/fullcalendar/locales/en-nz.js
app/base/static/assets/node_modules/fullcalendar/locales/eo.js
app/base/static/assets/node_modules/fullcalendar/locales/es-us.js
app/base/static/assets/node_modules/fullcalendar/locales/es.js
app/base/static/assets/node_modules/fullcalendar/locales/et.js
app/base/static/assets/node_modules/fullcalendar/locales/eu.js
app/base/static/assets/node_modules/fullcalendar/locales/fa.js
app/base/static/assets/node_modules/fullcalendar/locales/fi.js
app/base/static/assets/node_modules/fullcalendar/locales/fr-ca.js
app/base/static/assets/node_modules/fullcalendar/locales/fr-ch.js
app/base/static/assets/node_modules/fullcalendar/locales/fr.js
app/base/static/assets/node_modules/fullcalendar/locales/gl.js
app/base/static/assets/node_modules/fullcalendar/locales/he.js
app/base/static/assets/node_modules/fullcalendar/locales/hi.js
app/base/static/assets/node_modules/fullcalendar/locales/hr.js
app/base/static/assets/node_modules/fullcalendar/locales/hu.js
app/base/static/assets/node_modules/fullcalendar/locales/hy-am.js
app/base/static/assets/node_modules/fullcalendar/locales/id.js
app/base/static/assets/node_modules/fullcalendar/locales/is.js
app/base/static/assets/node_modules/fullcalendar/locales/it.js
app/base/static/assets/node_modules/fullcalendar/locales/ja.js
app/base/static/assets/node_modules/fullcalendar/locales/ka.js
app/base/static/assets/node_modules/fullcalendar/locales/kk.js
app/base/static/assets/node_modules/fullcalendar/locales/km.js
app/base/static/assets/node_modules/fullcalendar/locales/ko.js
app/base/static/assets/node_modules/fullcalendar/locales/ku.js
app/base/static/assets/node_modules/fullcalendar/locales/lb.js
app/base/static/assets/node_modules/fullcalendar/locales/lt.js
app/base/static/assets/node_modules/fullcalendar/locales/lv.js
app/base/static/assets/node_modules/fullcalendar/locales/mk.js
app/base/static/assets/node_modules/fullcalendar/locales/ms.js
app/base/static/assets/node_modules/fullcalendar/locales/nb.js
app/base/static/assets/node_modules/fullcalendar/locales/ne.js
app/base/static/assets/node_modules/fullcalendar/locales/nl.js
app/base/static/assets/node_modules/fullcalendar/locales/nn.js
app/base/static/assets/node_modules/fullcalendar/locales/pl.js
app/base/static/assets/node_modules/fullcalendar/locales/pt-br.js
app/base/static/assets/node_modules/fullcalendar/locales/pt.js
app/base/static/assets/node_modules/fullcalendar/locales/ro.js
app/base/static/assets/node_modules/fullcalendar/locales/ru.js
app/base/static/assets/node_modules/fullcalendar/locales/si-lk.js
app/base/static/assets/node_modules/fullcalendar/locales/sk.js
app/base/static/assets/node_modules/fullcalendar/locales/sl.js
app/base/static/assets/node_modules/fullcalendar/locales/sm.js
app/base/static/assets/node_modules/fullcalendar/locales/sq.js
app/base/static/assets/node_modules/fullcalendar/locales/sr-cyrl.js
app/base/static/assets/node_modules/fullcalendar/locales/sr.js
app/base/static/assets/node_modules/fullcalendar/locales/sv.js
app/base/static/assets/node_modules/fullcalendar/locales/ta-in.js
app/base/static/assets/node_modules/fullcalendar/locales/th.js
app/base/static/assets/node_modules/fullcalendar/locales/tr.js
app/base/static/assets/node_modules/fullcalendar/locales/ug.js
app/base/static/assets/node_modules/fullcalendar/locales/uk.js
app/base/static/assets/node_modules/fullcalendar/locales/uz.js
app/base/static/assets/node_modules/fullcalendar/locales/vi.js
app/base/static/assets/node_modules/fullcalendar/locales/zh-cn.js
app/base/static/assets/node_modules/fullcalendar/locales/zh-tw.js
app/base/static/assets/node_modules/gulp-sass/node_modules/ansi-regex/index.d.ts
app/base/static/assets/node_modules/gulp-sass/node_modules/ansi-regex/index.js
app/base/static/assets/node_modules/gulp-sass/node_modules/ansi-regex/license
app/base/static/assets/node_modules/gulp-sass/node_modules/ansi-regex/package.json
app/base/static/assets/node_modules/gulp-sass/node_modules/ansi-regex/readme.md
app/base/static/assets/node_modules/jquery/AUTHORS.txt
app/base/static/assets/node_modules/jquery/bower.json
app/base/static/assets/node_modules/jquery/LICENSE.txt
app/base/static/assets/node_modules/jquery/package.json
app/base/static/assets/node_modules/jquery/README.md
app/base/static/assets/node_modules/jquery/external/sizzle/LICENSE.txt
app/base/static/assets/node_modules/jquery/src/ajax.js
app/base/static/assets/node_modules/jquery/src/attributes.js
app/base/static/assets/node_modules/jquery/src/callbacks.js
app/base/static/assets/node_modules/jquery/src/core.js
app/base/static/assets/node_modules/jquery/src/css.js
app/base/static/assets/node_modules/jquery/src/data.js
app/base/static/assets/node_modules/jquery/src/deferred.js
app/base/static/assets/node_modules/jquery/src/deprecated.js
app/base/static/assets/node_modules/jquery/src/dimensions.js
app/base/static/assets/node_modules/jquery/src/effects.js
app/base/static/assets/node_modules/jquery/src/event.js
app/base/static/assets/node_modules/jquery/src/jquery.js
app/base/static/assets/node_modules/jquery/src/manipulation.js
app/base/static/assets/node_modules/jquery/src/offset.js
app/base/static/assets/node_modules/jquery/src/queue.js
app/base/static/assets/node_modules/jquery/src/selector-native.js
app/base/static/assets/node_modules/jquery/src/selector-sizzle.js
app/base/static/assets/node_modules/jquery/src/selector.js
app/base/static/assets/node_modules/jquery/src/serialize.js
app/base/static/assets/node_modules/jquery/src/traversing.js
app/base/static/assets/node_modules/jquery/src/wrap.js
app/base/static/assets/node_modules/jquery/src/ajax/jsonp.js
app/base/static/assets/node_modules/jquery/src/ajax/load.js
app/base/static/assets/node_modules/jquery/src/ajax/script.js
app/base/static/assets/node_modules/jquery/src/ajax/xhr.js
app/base/static/assets/node_modules/jquery/src/attributes/attr.js
app/base/static/assets/node_modules/jquery/src/attributes/classes.js
app/base/static/assets/node_modules/jquery/src/attributes/prop.js
app/base/static/assets/node_modules/jquery/src/attributes/support.js
app/base/static/assets/node_modules/jquery/src/attributes/val.js
app/base/static/assets/node_modules/jquery/src/core/access.js
app/base/static/assets/node_modules/jquery/src/core/camelCase.js
app/base/static/assets/node_modules/jquery/src/core/DOMEval.js
app/base/static/assets/node_modules/jquery/src/core/init.js
app/base/static/assets/node_modules/jquery/src/core/isAttached.js
app/base/static/assets/node_modules/jquery/src/core/nodeName.js
app/base/static/assets/node_modules/jquery/src/core/parseHTML.js
app/base/static/assets/node_modules/jquery/src/core/parseXML.js
app/base/static/assets/node_modules/jquery/src/core/ready-no-deferred.js
app/base/static/assets/node_modules/jquery/src/core/ready.js
app/base/static/assets/node_modules/jquery/src/core/readyException.js
app/base/static/assets/node_modules/jquery/src/core/stripAndCollapse.js
app/base/static/assets/node_modules/jquery/src/core/support.js
app/base/static/assets/node_modules/jquery/src/core/toType.js
app/base/static/assets/node_modules/jquery/src/css/addGetHookIf.js
app/base/static/assets/node_modules/jquery/src/css/adjustCSS.js
app/base/static/assets/node_modules/jquery/src/css/curCSS.js
app/base/static/assets/node_modules/jquery/src/css/finalPropName.js
app/base/static/assets/node_modules/jquery/src/css/hiddenVisibleSelectors.js
app/base/static/assets/node_modules/jquery/src/css/showHide.js
app/base/static/assets/node_modules/jquery/src/css/support.js
app/base/static/assets/node_modules/jquery/src/data/Data.js
app/base/static/assets/node_modules/jquery/src/deferred/exceptionHook.js
app/base/static/assets/node_modules/jquery/src/deprecated/ajax-event-alias.js
app/base/static/assets/node_modules/jquery/src/deprecated/event.js
app/base/static/assets/node_modules/jquery/src/effects/animatedSelector.js
app/base/static/assets/node_modules/jquery/src/effects/Tween.js
app/base/static/assets/node_modules/jquery/src/event/focusin.js
app/base/static/assets/node_modules/jquery/src/event/support.js
app/base/static/assets/node_modules/jquery/src/event/trigger.js
app/base/static/assets/node_modules/jquery/src/exports/amd.js
app/base/static/assets/node_modules/jquery/src/exports/global.js
app/base/static/assets/node_modules/jquery/src/manipulation/_evalUrl.js
app/base/static/assets/node_modules/jquery/src/manipulation/buildFragment.js
app/base/static/assets/node_modules/jquery/src/manipulation/getAll.js
app/base/static/assets/node_modules/jquery/src/manipulation/setGlobalEval.js
app/base/static/assets/node_modules/jquery/src/manipulation/support.js
app/base/static/assets/node_modules/jquery/src/manipulation/wrapMap.js
app/base/static/assets/node_modules/jquery/src/queue/delay.js
app/base/static/assets/node_modules/jquery/src/traversing/findFilter.js
app/base/static/assets/node_modules/localtunnel/.eslintrc.js
app/base/static/assets/node_modules/localtunnel/.travis.yml
app/base/static/assets/node_modules/localtunnel/CHANGELOG.md
app/base/static/assets/node_modules/localtunnel/LICENSE
app/base/static/assets/node_modules/localtunnel/localtunnel.js
app/base/static/assets/node_modules/localtunnel/localtunnel.spec.js
app/base/static/assets/node_modules/localtunnel/package.json
app/base/static/assets/node_modules/localtunnel/README.md
app/base/static/assets/node_modules/localtunnel/bin/lt.js
app/base/static/assets/node_modules/localtunnel/lib/HeaderHostTransformer.js
app/base/static/assets/node_modules/localtunnel/lib/Tunnel.js
app/base/static/assets/node_modules/localtunnel/lib/TunnelCluster.js
app/base/static/assets/node_modules/localtunnel/node_modules/debug/LICENSE
app/base/static/assets/node_modules/localtunnel/node_modules/debug/package.json
app/base/static/assets/node_modules/localtunnel/node_modules/debug/README.md
app/base/static/assets/node_modules/localtunnel/node_modules/debug/src/browser.js
app/base/static/assets/node_modules/localtunnel/node_modules/debug/src/common.js
app/base/static/assets/node_modules/localtunnel/node_modules/debug/src/index.js
app/base/static/assets/node_modules/localtunnel/node_modules/debug/src/node.js
app/base/static/assets/node_modules/localtunnel/node_modules/ms/index.js
app/base/static/assets/node_modules/localtunnel/node_modules/ms/license.md
app/base/static/assets/node_modules/localtunnel/node_modules/ms/package.json
app/base/static/assets/node_modules/localtunnel/node_modules/ms/readme.md
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/browser.mjs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/CHANGELOG.md
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/index.cjs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/index.mjs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/LICENSE
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/package.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/README.md
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/yargs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/helpers/helpers.mjs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/helpers/index.js
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/helpers/package.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/lib/platform-shims/browser.mjs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/lib/platform-shims/esm.mjs
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/be.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/de.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/en.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/es.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/fi.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/fr.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/hi.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/hu.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/id.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/it.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/ja.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/ko.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/nb.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/nl.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/nn.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/pirate.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/pl.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/pt_BR.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/pt.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/ru.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/th.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/tr.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/zh_CN.json
app/base/static/assets/node_modules/localtunnel/node_modules/yargs/locales/zh_TW.json
app/base/static/assets/node_modules/string-width/node_modules/ansi-regex/index.d.ts
app/base/static/assets/node_modules/string-width/node_modules/ansi-regex/index.js
app/base/static/assets/node_modules/string-width/node_modules/ansi-regex/license
app/base/static/assets/node_modules/string-width/node_modules/ansi-regex/package.json
app/base/static/assets/node_modules/string-width/node_modules/ansi-regex/readme.md
app/base/static/assets/node_modules/wide-align/align.js
app/base/static/assets/node_modules/wide-align/LICENSE
app/base/static/assets/node_modules/wide-align/package.json
app/base/static/assets/node_modules/wide-align/README.md
app/base/static/assets/node_modules/wide-align/node_modules/ansi-regex/index.js
app/base/static/assets/node_modules/wide-align/node_modules/ansi-regex/license
app/base/static/assets/node_modules/wide-align/node_modules/ansi-regex/package.json
app/base/static/assets/node_modules/wide-align/node_modules/ansi-regex/readme.md
app/base/static/assets/node_modules/wide-align/node_modules/is-fullwidth-code-point/index.js
app/base/static/assets/node_modules/wide-align/node_modules/is-fullwidth-code-point/license
app/base/static/assets/node_modules/wide-align/node_modules/is-fullwidth-code-point/package.json
app/base/static/assets/node_modules/wide-align/node_modules/is-fullwidth-code-point/readme.md
app/base/static/assets/node_modules/wide-align/node_modules/string-width/index.js
app/base/static/assets/node_modules/wide-align/node_modules/string-width/license
app/base/static/assets/node_modules/wide-align/node_modules/string-width/package.json
app/base/static/assets/node_modules/wide-align/node_modules/string-width/readme.md
app/base/static/assets/node_modules/wide-align/node_modules/strip-ansi/index.js
app/base/static/assets/node_modules/wide-align/node_modules/strip-ansi/license
app/base/static/assets/node_modules/wide-align/node_modules/strip-ansi/package.json
app/base/static/assets/node_modules/wide-align/node_modules/strip-ansi/readme.md
app/base/static/assets/node_modules/wrap-ansi/node_modules/ansi-regex/index.d.ts
app/base/static/assets/node_modules/wrap-ansi/node_modules/ansi-regex/index.js
app/base/static/assets/node_modules/wrap-ansi/node_modules/ansi-regex/license
app/base/static/assets/node_modules/wrap-ansi/node_modules/ansi-regex/package.json
app/base/static/assets/node_modules/wrap-ansi/node_modules/ansi-regex/readme.md
app/base/static/assets/node_modules/wrap-ansi/node_modules/strip-ansi/index.d.ts
app/base/static/assets/node_modules/wrap-ansi/node_modules/strip-ansi/index.js
app/base/static/assets/node_modules/wrap-ansi/node_modules/strip-ansi/license
app/base/static/assets/node_modules/wrap-ansi/node_modules/strip-ansi/package.json
app/base/static/assets/node_modules/wrap-ansi/node_modules/strip-ansi/readme.md
app/base/static/assets/node_modules/yargs/node_modules/ansi-regex/index.d.ts
app/base/static/assets/node_modules/yargs/node_modules/ansi-regex/index.js
app/base/static/assets/node_modules/yargs/node_modules/ansi-regex/license
app/base/static/assets/node_modules/yargs/node_modules/ansi-regex/package.json
app/base/static/assets/node_modules/yargs/node_modules/ansi-regex/readme.md
