
<!-- Core Libs -->

<!-- Popper -->
<script src="/static/assets/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="/static/assets/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Jarallax -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/jarallax/dist/jarallax.min.js"></script>

<!-- Smooth scroll -->
<script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Count up -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/countup.js/dist/countUp.umd.js"></script>

<!-- Apex Charts -->
<script src="/static/assets/vendor/apexcharts/dist/apexcharts.min.js"></script>

<!-- Notyf -->
<script src="/static/assets/vendor/notyf/notyf.min.js"></script>

<!-- Charts -->
<script src="/static/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/static/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Full Calendar -->
<script src="/static/assets/vendor/fullcalendar/main.min.js"></script>

<!-- DropZone -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/dropzone/dist/min/dropzone.min.js"></script>

<!-- Choices -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/choices.js/public/assets/scripts/choices.min.js"></script>

<!-- Leaflet -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/leaflet/dist/leaflet.js"></script>

<!-- SVG Pan Zoom -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>

<!-- SVG Map -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/svgmap/dist/svgMap.min.js"></script>

<!-- Simple Datatables -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>

<!-- Simplebar -->
<script src="/static/assets/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Sortable -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/sortablejs/Sortable.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="/static/assets/js/volt.js"></script>