
<!-- Core Libs -->

<!-- Popper -->
<script src="/static/assets/dist/vendor/@popperjs/core/umd/popper.min.js"></script>
<script src="/static/assets/dist/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="/static/assets/dist/vendor/onscreen/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="/static/assets/dist/vendor/nouislider/nouislider.min.js"></script>

<!-- Jarallax -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/jarallax/jarallax.min.js"></script>

<!-- Smooth scroll -->
<script src="/static/assets/dist/vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>

<!-- Count up -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard/vendor/countup.js/countUp.umd.js"></script>

<!-- Apex Charts -->
<script src="/static/assets/dist/vendor/apexcharts/apexcharts.min.js"></script>

<!-- Notyf -->
<script src="/static/assets/dist/vendor/notyf/notyf.min.js"></script>

<!-- Charts -->
<script src="/static/assets/dist/vendor/chartist/chartist.min.js"></script>
<script src="/static/assets/dist/vendor/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

<!-- Full Calendar -->
<script src="/static/assets/dist/vendor/fullcalendar/main.min.js"></script>

<!-- DropZone -->
<script src="/static/assets/dist/vendor/dropzone/dropzone-min.js"></script>

<!-- Choices -->
<script src="{{ url_for('static', filename='assets/dist/vendor/choices/choices.js') }}"></script>

<!-- Leaflet -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/leaflet/leaflet.js"></script>

<!-- SVG Pan Zoom -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/svg-pan-zoom/svg-pan-zoom.min.js"></script>

<!-- SVG Map -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/svgmap/svgMap.min.js"></script>

<!-- Simple Datatables -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/simple-datatables/umd/simple-datatables.js"></script>

<!-- Simplebar -->
<script src="/static/assets/dist/vendor/simplebar/simplebar.min.js"></script>

<!-- Sortable -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/vendor/sortablejs/Sortable.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="/static/assets/dist/vendor/sweetalert2/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="/static/assets/dist/vendor/vanillajs-datepicker/js/datepicker.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="/static/assets/dist/js/all.min.js"></script>